<div id="Navigation_bar">
	<div class="n_box">
		<div class="logo"></div><!-- 站点logo -->
		<div class="n_box_1">
			<ul><li><a href="/index">首页</a></li>
				<li><a href="/forum">论坛</a></li>
				<li><a href="/GameHall">博弈</a></li>
				<li><a href="/bugList">漏洞</a></li>
				<li><a href="/download">下载</a></li>
			</ul>
		</div>
		<div class="n_box_2">
			<form action="" method="post">
				<input type="text" name="search" title="内容搜索栏……">
				<input type="submit" name="btn_search" value="GO">
			</form>
			<ul class="my_info"><li>
				<a href="/login" id="ShowUserName">登录</a>
				<div><ul>
						<li><a href="/userInfo">个人信息</a></li>
						<li><a href="/userInfo#tabs-2">发布文章</a></li>
						<li><a href="/userInfo#tabs-3">历史浏览</a></li>
						<li><a href="/userInfo#tabs-4">我的关注</a></li>
						<li><a href="/logout">退出登录</a></li>
					</ul>
				</div>
			</li></ul>
		</div>
	</div>
</div>
	