/*
* @Author: HJJ
* @Date:   2018-12-29 12:31:51
* @Last Modified by:   H-f-society
* @Last Modified time: 2020-03-08 13:06:43
*/
body {
	width: 100%;
	height: 100%;
	padding: 0px 0px;
	margin: 0px 0px;
}
#main {
	position: relative;
	width: 1100px;
	margin: 20px auto;
}
#main .main_left {
	width: 750px;
	height: 100%;
	float: left;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-radius: 2px;
	box-shadow: 2px 2px 3px #5C5959;
}
#main .main_left #headImg {
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 50%;
	margin: 5px 5px;
}
#main .main_left h3 {
	width: 650px;
	overflow: hidden;			/*自动隐藏文字*/
	text-overflow: ellipsis;	/*文字掩藏后添加省略号*/
	white-space: nowrap;		/*强制不换行 */
}
#main .main_left span {	margin-left: 10px; }
#main .main_left a { color:blue; text-decoration: none; }
#main .main_left p {
	width: 90%;
	margin: 0px auto;
	font-size: 17px;
	text-indent: 0.1em;
}
/* ############## */
#main .main_right {
	width: 350px;
	height: 100%;
	float: left;
}
/* ############## */

.nav {
	position: absolute;
	width: 80px;
	height: 300px;
	right: -100px;
	padding: 0px 0px;
}
.nav ul {
	width: 100%;
	height: 35px;
	margin: 0px 0px;
	padding: 0px 0px;
}
.nav ul a { text-decoration: none; }
.nav ul li {
	width: 100%;
	list-style: none;
	text-align: center;
	line-height: 35px;
	color: #000;
	font-family: 微软雅黑;
	margin-bottom: 5px;
	box-shadow: 2px 2px 5px #434343;
}
.nav ul li:hover { background-color: red; color: #FFF; }
/* ############## */
#comment {
	position: fixed;
	width: 800px;
	height: 600px;
	bottom: 50px;
	left: 20%;
	border-radius: 10px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;  
}
#comment form{
	width: 300px;
	height: 250px;
	margin: 50px auto;
	color: #FFF;
	font-size: 25px;
	text-align: center;
}
.comment_input{
	position: absolute;
	height: 40px;
	width: 100%;
	bottom: 5px;
	left: 5px;
	font-family: 黑体;
}
.comment_input input:nth-child(1){
	width: 700px;
	height: 35px;
	margin: 0px;
}
.comment_input #comment_btn{
	height: 40px;
	width: 73px;
	margin: 0px;
	color: #fff;
	border: 0px;
	background-color: #343434;
}
.comment_input #comment_btn:hover{ 
	box-shadow: 1px 1px 1px #000000;
	background-color: #000000; 
}
.comment{
	width: 750px;
	height: 50px;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #000;
	background-color: #fff;
	opacity: 1;
}
.comment img{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 50%;
}
.comment h3{
	width: 690px;
	height: 100%;
	margin: 0px;
	float: left;
	line-height: 50px;
	overflow: hidden;			
	text-overflow: ellipsis;	
	white-space: nowrap;		 
}