<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Article Info</title>
	<link rel="icon" href="images/f-society.ico" type="image/x-icon">
	<link rel="shortcut icon" href="images/f-society.ico" type="image/x-icon">
	<link rel="stylesheet" href="jquery/jquery-ui.min.css">
	<link rel="stylesheet" href="css/Navigation_bar.css">
	<link rel="stylesheet" href="css/article_info.css">
	<link rel="stylesheet" href="css/aside.css">
	<script type="text/javascript" src="jquery/jquery.js"></script>
	<script type="text/javascript" src="jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="jquery/md5.js"></script>
	<script type="text/javascript" src="script/index.js"></script>
	<script type="text/javascript" src="script/forum.js"></script>
	<script>
		$(document).ready(function() {
			$(".cbtn").click(function() {
				$("#comment").toggle("explode");
			});
		});
	</script>
</head>
<body>
	<!-- 导航栏 -->
	<header th:replace="public/NavigationBar::div"> </header>
	<div id="main">
	
		<div class="main_left">
			<img id="headImg" th:src="@{'images/header/'+${artInfo.headImg}}">
			<h3 th:text="${artInfo.title}"></h3>
			<span th:text="${artInfo.createTime}"></span>
			<a href=""><span th:text="${artInfo.author}"></span></a>
			<span>点赞:<span th:text="${artInfo.praise}"></span> </span>
			<span>阅读量:<span th:text="${artInfo.clickRate}"></span> </span>
			<hr style="width: 97%;">
			<p th:utext="${artInfo.content}"></p>
		</div>
		
		<div th:replace="public/main_right::div"> </div>
		<div class="nav">
			<ul><li class="cbtn">评论</li>
				<li>点赞</li>
			</ul>
		</div>
	</div>
	
	<div id="comment">
		
	</div>
</body>
</html>